<header>
		<h1>Moviers</h1>
		
			

		<h3 id="introtext"> Welcome to Moviers, the best movie quizz ever </h3>

	</header>

	<article>

		<button id="clickPoster">Click</button>
    	<img id="poster1" src="">
        <img id="poster2" src="">
        <img id="poster3" src="">
        <img id="poster4" src="">
        <img id="poster5" src="">
        <label id="question"></label>
        
        <label id="result"></label>
        <img id="resultImg" src="">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="movies.js"></script>
    </body>



	</article>



	<footer>
		<p> Copyleft MotherFuckingWebDevelopers S.L </p>
	</footer>